:root{
        --headercolor: #17141d;
        --headercolorhover: #005850;
        --bodycolor:#f0f0f0;
        --headerfontcolor: #f0f0f0;
        --bodyfontcolor: #054861;
        --border:#aaa;
        --headerh1: #f0f0f0; 
    
    font-family: 'Poppins', FontAwesome,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{scroll-behavior: smooth;}
body{
    width: 100%;
    display: flex;
    background-color: var(--bodycolor);
}
@media screen and (min-width: 1140px){
    body{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
    }
    header{
        width: 30vw;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--headercolor);
        color: var(--headerfontcolor);
        padding: 5% 2%;
        position: fixed;
    }

    header img{
        max-width: 20rem;
        max-height: 20rem;
        margin: 3% 1%;
        border-radius: 50% !important;
        overflow: hidden;
        background-color: #fff;
        border: 0.25rem solid var(--headerfontcolor);
        vertical-align:middle;
    }

    header h1{
        width: 100%;
        color: var(--headerh1);
        background-color: #11111122;
        margin-top: .1rem;
        letter-spacing: .1rem;
        font-size: 1.7rem;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
    }

    header a, header p{
        width: 100%;
        text-transform: none;
        text-decoration: none;
        color: var(--headerfontcolor);
        margin: 1% auto;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
        font-size: 1.3rem;
    }

    header .socials{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        margin: 5% 0;
    }

    header .socials a{
        font-size: 1.5rem;
        padding: 0 1rem;
        color: var(--headerfontcolor);
    }

    header .socials a:hover{
        color: var(--headercolorhover);
        -webkit-transition: all .5s ease-in;
        -moz-transition: all .5s ease-in;
        transition: all .5s ease-in;
    }

    main{
        width: 70vw;
        height: 100%;
        margin-left: 30vw;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
        background-color:var(--bodycolor);
        color: var(--bodyfontcolor);
        padding: 1% 2%;
    }

    main div#title{
        width: 100%;
        user-select: none;
    }

    main div#title h1{
        font-size: 5vw;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
    }
    main #subtitle{
        width: 65%;
        padding-bottom: 1rem;
        border-bottom: .5rem solid var(--bodyfontcolor);
        margin: .5rem 0 1rem 0;
    }

    main #subtitle:first-of-type{
        border: none;
        margin: 0;
        padding: 0;
    }

    main #subtitle p{
        text-transform: uppercase;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
        font-size: 2vw;
        text-align: left;
        padding: .1rem;
        user-select: none;
    }

    main #subtitle p strong{
        padding: 0 .5rem;
        background-color: var(--headercolorhover);
        color: var(--headerfontcolor);
        user-select: none;
    }

    main #badges{
        width: 100%;
        padding:.5em;
    }

    main #badges img{
        width: 100px ;
        height: 100%; 
        padding: 0 .5em;
    }

    main .card{
        width: 100%;
        border: 1px solid #f0f0f0;
        padding: .5rem;
        margin: .1rem 0;
    }

    main #resumo{
        border: none;
    }

    #box-toggle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #box-toggle span{
        color: var(--headerfontcolor);
        width: 100%;
        -webkit-transition: all .5s ease-in;
        -moz-transition: all .5s ease-in;
        transition: all .5s ease-in;
    }

    #box-toggle span:hover, #box-toggle span:hover h2{ 
        cursor:pointer; 
        color:var(--headercolorhover); 
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        transition: all .3s ease-in;}

    #box-toggle .tgl, #box-toggle .tgl2, #box-toggle .tgl3, #box-toggle .tgl4, #box-toggle .tgl5{
        border-left: 2px solid var(--headercolorhover);
    }

    main span{
        background-color: #eaeaea;
        width: 100%;
        margin: .2rem 0;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    main span h2{
        color: var(--bodyfontcolor);
        width: 100%;
    }

    main .card h3{
        background-color: #eaeaea55;
        font-size: .9rem;
        padding: 0 .5rem;
    }

    main .card h4{
        background-color: #eaeaea55;
        font-size: .8rem;
        padding: 0 .5rem;
    }
    main .card h5{
        background-color: #eaeaea55;
        font-size: .8rem;
        padding: .5rem .5rem 0 .5rem;
    }
    main .card p{
        font-size: .9rem;
        padding: .5rem;
        text-align: justify;
    }
    main .card-itens{
        margin: .5rem 0;
        border-bottom: 1px solid var(--border);
    }
    main .card p::selection, main .card-itens h2::selection, main .card-itens h3::selection, main .card-itens h4::selection, main .card-itens h5::selection, main .card-itens i::selection, main .card a::selection{
        background: var(--headercolorhover);
        color: var(--headerfontcolor);
    }

    main .card-itens:last-of-type{
        border: none;
    }

    main .competencias{
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:start;
        margin: 1rem;
        padding: .5rem 0;
        border-bottom:1px dashed var(--border);
    }

    p.skills{
        background-color: #eaeaea;
        border-radius: 15rem !important;
        margin: .5rem;
    }

    p.skills:hover{
        background-color: var(--headercolorhover);
        color: var(--headerfontcolor);
    }

    #info-complementar a, .complementar a{
        color: var(--bodyfontcolor);
    }

    #info-complementar a:hover, .complementar a:hover {
        color: var(--headercolor);
    }

    .footer{
        width: 100%;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
        text-align:right;
        margin: .6rem 0 0 0;
    }
}
@media screen and (min-width:600px) and (max-width: 1140px){
    body{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
    }

    header{
        width: 30vw;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--headercolor);
        color: var(--headerfontcolor);
        padding: 5% 2%;
        position: fixed;
    }

    header img{
        max-width: 10rem;
        max-height: 10rem;
        margin: 3% 1%;
        border-radius: 50% !important;
        overflow: hidden;
        background-color: #fff;
        border: 0.25rem solid var(--headercolorhover);
        box-shadow: 0rem 0rem 0rem .25rem var(--headerfontcolor);
        vertical-align:middle;
    }

    header h1{
        width: 100%;
        color: var(--headerh1);
        background-color: #11111122;
        margin-top: .1rem;
        letter-spacing: .1rem;
        font-size: 1.5rem;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
    }

    header a, header p{
        width: 100%;
        text-transform: none;
        text-decoration: none;
        color: var(--headerfontcolor);
        margin: 1% auto;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
        font-size: 1rem;
    }

    header .socials{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        margin: 5% 0;
    }

    header .socials a{
        font-size: 1rem;
        padding: 0 1rem;
    }

    header .socials a:hover{
        color: var(--headercolorhover);
        -webkit-transition: all .5s ease-in;
        -moz-transition: all .5s ease-in;
        transition: all .5s ease-in;
    }

    main{
        width: 70vw;
        height: 100%;
        margin-left: 30vw;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
        background-color:var(--bodycolor);
        color: var(--bodyfontcolor);
        padding: 1% 2%;
    }

    main div#title{
        width: 100%;
        user-select: none;
    }

    main div#title h1{
        font-size: 5vw;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
    }
    main #subtitle{
        width: 60%;
        padding-bottom: 1rem;
        border-bottom: .5rem solid var(--bodyfontcolor);
        margin: .5rem 0 1rem 0;
    }

    main #subtitle:first-of-type{
        border: none;
        margin: 0;
        padding: 0;
    }

    main #subtitle p{
        text-transform: uppercase;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
        font-size: 2vw;
        text-align: left;
        padding: .1rem;
        user-select: none;
    }

    main #subtitle p strong{
        padding: 0 .5rem;
        background-color: var(--headercolorhover);
        color: var(--headerfontcolor);
        user-select: none;
    }

    main #badges{
        width: 100%;
        padding:.5em;
    }

    main #badges img{
        width: 100px ;
        height: 100%; 
        padding: 0 .5em;
    }

    main .card{
        width: 100%;
        border: 1px solid #f0f0f0;
        padding: .5rem;
        margin: .1rem 0;
    }

    main #resumo{
        border: none;
    }

    #box-toggle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #box-toggle span{
        color: var(--headerfontcolor);
        width: 100%;
        -webkit-transition: all .5s ease-in;
        -moz-transition: all .5s ease-in;
        transition: all .5s ease-in;
    }

    #box-toggle span:hover, #box-toggle span:hover h2{ 
        cursor:pointer; 
        color:var(--headercolorhover); 
        -webkit-transition: all .5s ease-in;
        -moz-transition: all .5s ease-in;
        transition: all .5s ease-in;}

    #box-toggle .tgl, #box-toggle .tgl2, #box-toggle .tgl3, #box-toggle .tgl4, #box-toggle .tgl5{
        border-left: 2px solid var(--headercolorhover);
    }

    main span{
        background-color: #eaeaea;
        width: 100%;
        margin: .2rem 0;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    main span h2{
        color: var(--bodyfontcolor);
        width: 100%;
    }

    main .card h3{
        background-color: #eaeaea55;
        font-size: .9rem;
        padding: 0 .5rem;
    }

    main .card h4{
        background-color: #eaeaea55;
        font-size: .8rem;
        padding: 0 .5rem;
    }
    main .card h5{
        background-color: #eaeaea55;
        font-size: .8rem;
        padding: .5rem .5rem 0 .5rem;
    }
    main .card p{
        font-size: .9rem;
        padding: .5rem;
        text-align: justify;
    }
    main .card-itens{
        margin: .5rem 0;
        border-bottom: 1px solid var(--border);
    }
    main .card-itens:last-of-type{
        border: none;
    }
    main .card p::selection, main .card-itens h2::selection, main .card-itens h3::selection, main .card-itens h4::selection, main .card-itens h5::selection, main .card-itens i::selection, main .card a::selection{
        background: var(--headercolorhover);
        color: var(--headerfontcolor);
    }
    main .competencias{
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:start;
        margin: 1rem;
        padding: .5rem 0;
        border-bottom:1px dashed var(--border);
    }

    p.skills{
        background-color: #eaeaea;
        border-radius: 15rem !important;
        margin: .5rem;
    }

    p.skills:hover{
        background-color: var(--headercolorhover);
        color: var(--headerfontcolor);
    }

    #info-complementar a, .complementar a{
        color: var(--bodyfontcolor);
    }

    #info-complementar a:hover, .complementar a:hover {
        color: var(--headercolor);
    }

    .footer{
        width: 100%;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
        text-align:right;
        margin: .6rem 0 0 0;
    }
}
@media screen and (min-width:300px) and (max-width: 600px){
    body{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    header{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--headercolor);
        color: var(--headerfontcolor);
    }

    header img{
        max-width: 10rem;
        max-height: 10rem;
        margin: 5% 0;
        border-radius: 50% !important;
        overflow: hidden;
        background-color: #fff;
        border: 0.25rem solid var(--headercolorhover);
        box-shadow: 0rem 0rem 0rem .25rem var(--headerfontcolor);
        vertical-align:middle;
    }

    header h1{
        color: var(--headerh1);
        background-color: #11111122;
        margin-top: .1rem;
        letter-spacing: .1rem;
        font-size: 1.2rem;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
    }

    header a, header p{
        text-transform: none;
        text-decoration: none;
        color: var(--headerfontcolor);
        margin: 1% 0;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
    }

    header .socials{
        display: flex;
        flex-direction: row;
        margin: 5% 0;
    }

    header .socials a{
        font-size: 1rem;
        padding: 0 1rem;
    }

    header .socials a:hover{
        color: var(--headercolorhover);
    }

    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
        background-color:var(--bodycolor);
        color: var(--bodyfontcolor);
        padding: 2%;
    }

    main div#title{
        width: 100%;
        margin: 0;
        user-select: none;
    }
    
    main div#title h1{
        font-size: 8vw;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
    }
    main #subtitle{
        width: 90%;
        padding-bottom: 1rem;
        border-bottom: .5rem solid var(--bodyfontcolor);
        margin: .5rem 0 2rem 0;
    }

    main #subtitle:first-of-type{
        border: none;
        margin: 0;
        padding: 0;
    }    
    
    main #subtitle p{
        text-transform: uppercase;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
        font-size: 4.5vw;
        text-align: left;
        padding: .1rem;
        user-select: none;
    }
    
    main #subtitle p strong{
        padding: 0 .5rem;
        background-color: var(--headercolorhover);
        color: var(--headerfontcolor);
        user-select: none;
    }

    main #badges{
        width: 100%;
        padding:.5em;
    }

    main #badges img{
        width: 100px ;
        height: 100%; 
        padding: 0 .5em;
    }

    main .card{
        width: 100%;
        border: 1px solid #f0f0f0;
        padding: .5rem;
        margin: .1rem 0;
    }
    main .card p::selection, main .card-itens h2::selection, main .card-itens h3::selection, main .card-itens h4::selection, main .card-itens h5::selection, main .card-itens i::selection, main .card a::selection{
        background: var(--headercolorhover);
        color: var(--headerfontcolor);
    }

    main #resumo{
        border: none;
    }

    #box-toggle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #box-toggle span{
        width: 100%;
    }

    #box-toggle span:hover{ cursor:pointer; color:var(--headercolorhover);}

    #box-toggle .tgl, #box-toggle .tgl2, #box-toggle .tgl3, #box-toggle .tgl4, #box-toggle .tgl5{
        border-left: 2px solid var(--headercolorhover);
    }
    
    main span{
        background-color: #eaeaea;
        width: 100%;
        margin: .2rem 0;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    main span h2{
        width: 100%;
        font-size: 1rem;
    }

    main .card h3{
        background-color: #eaeaea55;
        font-size: .9rem;
        padding: 0 .5rem;
    }

    main .card h4{
        background-color: #eaeaea55;
        font-size: .8rem;
        padding: 0 .5rem;
    }
    main .card h5{
        background-color: #eaeaea55;
        font-size: .8rem;
        padding: .5rem .5rem 0 .5rem;
    }
    main .card p{
        font-size: .9rem;
        padding: .5rem;
        text-align: justify;
    }
    main .card-itens{
        margin: .5rem 0;
        border-bottom: 1px solid var(--border);
    }
    main .card-itens:last-of-type{
        border: none;
    }

    main .competencias{
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:start;
        margin: 1rem;
        padding: .5rem 0;
        border-bottom:1px dashed var(--border);
    }

    p.skills{
        background-color: #eaeaea;
        border-radius: 15rem !important;
        margin: .5rem;
    }

    p.skills:hover{
        background-color: var(--headercolorhover);
        color: var(--headerfontcolor);
    }

    #info-complementar a, .complementar a{
        color: var(--bodyfontcolor);
    }
    
    #info-complementar a:hover, .complementar a:hover {
        color: var(--headercolor);
    }

    .footer{
        width: 100%;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
        text-align:right;
        margin: 1rem 0;
    }
}
@media screen and (min-width: 200px) and (max-width: 300px){
    body{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    header{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--headercolor);
        color: var(--headerfontcolor);
    }

    header img{
        max-width: 10rem;
        max-height: 10rem;
        margin: 5% 0;
        border-radius: 50% !important;
        overflow: hidden;
        background-color: #fff;
        border: 0.25rem solid var(--headercolorhover);
        box-shadow: 0rem 0rem 0rem .25rem var(--headerfontcolor);
        vertical-align:middle;
    }

    header h1{
        color: var(--headerh1);
        background-color: #11111122;
        margin-top: .1rem;
        letter-spacing: .1rem;
        font-size: 1.2rem;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
    }

    header a, header p{
        text-transform: none;
        text-decoration: none;
        color: var(--headerfontcolor);
        margin: 1% 0;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
    }

    header .socials{
        display: flex;
        flex-direction: row;
        margin: 5% 0;
    }

    header .socials a{
        font-size: 1rem;
        padding: 0 1rem;
    }

    header .socials a:hover{
        color: var(--headercolorhover);
    }

    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
        background-color:var(--bodycolor);
        color: var(--bodyfontcolor);
        padding: 2%;
    }

    main div#title{
        width: 100%;
        margin: 0;
        user-select: none;
    }
    
    main div#title h1{
        font-size: 8vw;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
    }
    main #subtitle{
        width: 90%;
        padding-bottom: 1rem;
        border-bottom: .5rem solid var(--bodyfontcolor);
        margin: .5rem 0 2rem 0;
    }
    main #subtitle:first-of-type{
        border: none;
        margin: 0;
        padding: 0;
    }
    
    main #subtitle p{
        text-transform: uppercase;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
        font-size: 4.5vw;
        text-align: left;
        padding: .1rem;
        user-select: none;
    }
    
    main #subtitle p strong{
        padding: 0 .5rem;
        background-color: var(--headercolorhover);
        color: var(--headerfontcolor);
        user-select: none;
    }

    main #badges{
        width: 100%;
        padding:.5em;
    }

    main #badges img{
        width: 80px ;
        height: 100%; 
        padding: 0 .5em;
    }

    main .card{
        width: 100%;
        border: 1px solid #f0f0f0;
        padding: .5rem;
        margin: .1rem 0;
    }
    
    main #resumo{
        border: none;
    }

    #box-toggle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #box-toggle span{
        width: 100%;
    }

    #box-toggle span:hover{ cursor:pointer; color:var(--headercolorhover);}
    
    #box-toggle .tgl, #box-toggle .tgl2, #box-toggle .tgl3, #box-toggle .tgl4, #box-toggle .tgl5{
        border-left: 2px solid var(--headercolorhover);
    }

    main span{
        background-color: #eaeaea;
        width: 100%;
        margin: .2rem 0;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    main span h2{
        width: 100%;
        font-size: 1rem;
    }

    main .card h3{
        background-color: #eaeaea55;
        font-size: .9rem;
        padding: 0 .5rem;
    }

    main .card h4{
        background-color: #eaeaea55;
        font-size: .8rem;
        padding: 0 .5rem;
    }
    main .card h5{
        background-color: #eaeaea55;
        font-size: .8rem;
        padding: .5rem .5rem 0 .5rem;
    }
    main .card p{
        font-size: .9rem;
        padding: .5rem;
        text-align: justify;
    }
    main .card-itens{
        margin: .5rem 0;
        border-bottom: 1px solid var(--border);
    }
    main .card-itens:last-of-type{
        border: none;
    }
    main .card p::selection, main .card-itens h2::selection, main .card-itens h3::selection, main .card-itens h4::selection, main .card-itens h5::selection, main .card-itens i::selection, main .card a::selection{
        background: var(--headercolorhover);
        color: var(--headerfontcolor);
    }
    main .competencias{
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:start;
        margin: 1rem;
        padding: .5rem 0;
        border-bottom:1px dashed var(--border);
    }

    p.skills{
        background-color: #eaeaea;
        border-radius: 15rem !important;
        margin: .5rem;
    }

    p.skills:hover{
        background-color: var(--headercolorhover);
        color: var(--headerfontcolor);
    }

    #info-complementar a, .complementar a{
        color: var(--bodyfontcolor);
    }
    
    #info-complementar a:hover, .complementar a:hover {
        color: var(--headercolor);
    }

    .footer{
        width: 100%;
        font-family: 'Ubuntu Mono', FontAwesome, sans-serif;
        text-align:right;
        margin: 1rem 0;
    }
}